In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('heart_disease_uci.csv')

In [3]:
df

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,Female,VA Long Beach,asymptomatic,127.0,333.0,True,st-t abnormality,154.0,False,0.0,NaN,NaN,NaN,1
916,917,62,Male,VA Long Beach,typical angina,NaN,139.0,False,st-t abnormality,NaN,NaN,NaN,NaN,NaN,NaN,0
917,918,55,Male,VA Long Beach,asymptomatic,122.0,223.0,True,st-t abnormality,100.0,False,0.0,NaN,NaN,fixed defect,2
918,919,58,Male,VA Long Beach,asymptomatic,NaN,385.0,True,lv hypertrophy,NaN,NaN,NaN,NaN,NaN,NaN,0
919,920,62,Male,VA Long Beach,atypical angina,120.0,254.0,False,lv hypertrophy,93.0,True,0.0,NaN,NaN,NaN,1

In [4]:
df.drop(['id','dataset','fbs','exang','oldpeak','slope'],axis=1,inplace=True)

In [5]:
df

,age,sex,cp,trestbps,chol,restecg,thalch,ca,thal,num
0,63,Male,typical angina,145.0,233.0,lv hypertrophy,150.0,0.0,fixed defect,0
1,67,Male,asymptomatic,160.0,286.0,lv hypertrophy,108.0,3.0,normal,2
2,67,Male,asymptomatic,120.0,229.0,lv hypertrophy,129.0,2.0,reversable defect,1
3,37,Male,non-anginal,130.0,250.0,normal,187.0,0.0,normal,0
4,41,Female,atypical angina,130.0,204.0,lv hypertrophy,172.0,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...
915,54,Female,asymptomatic,127.0,333.0,st-t abnormality,154.0,NaN,NaN,1
916,62,Male,typical angina,NaN,139.0,st-t abnormality,NaN,NaN,NaN,0
917,55,Male,asymptomatic,122.0,223.0,st-t abnormality,100.0,NaN,fixed defect,2
918,58,Male,asymptomatic,NaN,385.0,lv hypertrophy,NaN,NaN,NaN,0
919,62,Male,atypical angina,120.0,254.0,lv hypertrophy,93.0,NaN,NaN,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       920 non-null    int64
 1   sex       920 non-null    object
 2   cp        920 non-null    object
 3   trestbps  861 non-null    float64
 4   chol      890 non-null    float64
 5   restecg   918 non-null    object
 6   thalch    865 non-null    float64
 7   ca        309 non-null    float64
 8   thal      434 non-null    object
 9   num       920 non-null    int64
dtypes: float64(4), int64(2), object(4)
memory usage: 72.0+ KB

In [7]:
df['trestbps'] = df['trestbps'].fillna(df['trestbps'].mean())

In [8]:
df['chol'] = df['chol'].fillna(df['chol'].mean())

df['thalch'] = df['thalch'].fillna(df['thalch'].mean())
df['ca'] = df['ca'].fillna(df['ca'].mean())

In [9]:
df

,age,sex,cp,trestbps,chol,restecg,thalch,ca,thal,num
0,63,Male,typical angina,145.000000,233.0,lv hypertrophy,150.000000,0.000000,fixed defect,0
1,67,Male,asymptomatic,160.000000,286.0,lv hypertrophy,108.000000,3.000000,normal,2
2,67,Male,asymptomatic,120.000000,229.0,lv hypertrophy,129.000000,2.000000,reversable defect,1
3,37,Male,non-anginal,130.000000,250.0,normal,187.000000,0.000000,normal,0
4,41,Female,atypical angina,130.000000,204.0,lv hypertrophy,172.000000,0.000000,normal,0
...,...,...,...,...,...,...,...,...,...,...
915,54,Female,asymptomatic,127.000000,333.0,st-t abnormality,154.000000,0.676375,NaN,1
916,62,Male,typical angina,132.132404,139.0,st-t abnormality,137.545665,0.676375,NaN,0
917,55,Male,asymptomatic,122.000000,223.0,st-t abnormality,100.000000,0.676375,fixed defect,2
918,58,Male,asymptomatic,132.132404,385.0,lv hypertrophy,137.545665,0.676375,NaN,0
919,62,Male,atypical angina,120.000000,254.0,lv hypertrophy,93.000000,0.676375,NaN,1

In [10]:
df4=pd.DataFrame(pd.get_dummies(df['sex']))
df5=pd.DataFrame(pd.get_dummies(df['cp']))
df6=pd.DataFrame(pd.get_dummies(df['thal']))

In [11]:
df = pd.concat([df4, df], axis=1)
df = pd.concat([df5, df], axis=1)
df = pd.concat([df6, df], axis=1)

In [12]:
df

,fixed defect,normal,reversable defect,asymptomatic,atypical angina,non-anginal,typical angina,Female,Male,age,sex,cp,trestbps,chol,restecg,thalch,ca,thal,num
0,1,0,0,0,0,0,1,0,1,63,Male,typical angina,145.000000,233.0,lv hypertrophy,150.000000,0.000000,fixed defect,0
1,0,1,0,1,0,0,0,0,1,67,Male,asymptomatic,160.000000,286.0,lv hypertrophy,108.000000,3.000000,normal,2
2,0,0,1,1,0,0,0,0,1,67,Male,asymptomatic,120.000000,229.0,lv hypertrophy,129.000000,2.000000,reversable defect,1
3,0,1,0,0,0,1,0,0,1,37,Male,non-anginal,130.000000,250.0,normal,187.000000,0.000000,normal,0
4,0,1,0,0,1,0,0,1,0,41,Female,atypical angina,130.000000,204.0,lv hypertrophy,172.000000,0.000000,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,0,0,0,1,0,0,0,1,0,54,Female,asymptomatic,127.000000,333.0,st-t abnormality,154.000000,0.676375,NaN,1
916,0,0,0,0,0,0,1,0,1,62,Male,typical angina,132.132404,139.0,st-t abnormality,137.545665,0.676375,NaN,0
917,1,0,0,1,0,0,0,0,1,55,Male,asymptomatic,122.000000,223.0,st-t abnormality,100.000000,0.676375,fixed defect,2
918,0,0,0,1,0,0,0,0,1,58,Male,asymptomatic,132.132404,385.0,lv hypertrophy,137.545665,0.676375,NaN,0
919,0,0,0,0,1,0,0,0,1,62,Male,atypical angina,120.000000,254.0,lv hypertrophy,93.000000,0.676375,NaN,1

In [13]:
df.drop(['sex','cp','restecg','thal'],axis=1,inplace=True)

In [14]:
df

,fixed defect,normal,reversable defect,asymptomatic,atypical angina,non-anginal,typical angina,Female,Male,age,trestbps,chol,thalch,ca,num
0,1,0,0,0,0,0,1,0,1,63,145.000000,233.0,150.000000,0.000000,0
1,0,1,0,1,0,0,0,0,1,67,160.000000,286.0,108.000000,3.000000,2
2,0,0,1,1,0,0,0,0,1,67,120.000000,229.0,129.000000,2.000000,1
3,0,1,0,0,0,1,0,0,1,37,130.000000,250.0,187.000000,0.000000,0
4,0,1,0,0,1,0,0,1,0,41,130.000000,204.0,172.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,0,0,0,1,0,0,0,1,0,54,127.000000,333.0,154.000000,0.676375,1
916,0,0,0,0,0,0,1,0,1,62,132.132404,139.0,137.545665,0.676375,0
917,1,0,0,1,0,0,0,0,1,55,122.000000,223.0,100.000000,0.676375,2
918,0,0,0,1,0,0,0,0,1,58,132.132404,385.0,137.545665,0.676375,0
919,0,0,0,0,1,0,0,0,1,62,120.000000,254.0,93.000000,0.676375,1

In [14]:
df['num']

0      0
1      2
2      1
3      0
4      0
      ..
915    1
916    0
917    2
918    0
919    1
Name: num, Length: 920, dtype: int64

In [15]:
df['num']=pd.cut(df['num'],3, labels=["low", "medium", "high"])

In [16]:
df6=pd.DataFrame(pd.get_dummies(df['num']))

In [17]:
df

,fixed defect,normal,reversable defect,asymptomatic,atypical angina,non-anginal,typical angina,Female,Male,age,trestbps,chol,thalch,ca,num
0,1,0,0,0,0,0,1,0,1,63,145.000000,233.0,150.000000,0.000000,low
1,0,1,0,1,0,0,0,0,1,67,160.000000,286.0,108.000000,3.000000,medium
2,0,0,1,1,0,0,0,0,1,67,120.000000,229.0,129.000000,2.000000,low
3,0,1,0,0,0,1,0,0,1,37,130.000000,250.0,187.000000,0.000000,low
4,0,1,0,0,1,0,0,1,0,41,130.000000,204.0,172.000000,0.000000,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,0,0,0,1,0,0,0,1,0,54,127.000000,333.0,154.000000,0.676375,low
916,0,0,0,0,0,0,1,0,1,62,132.132404,139.0,137.545665,0.676375,low
917,1,0,0,1,0,0,0,0,1,55,122.000000,223.0,100.000000,0.676375,medium
918,0,0,0,1,0,0,0,0,1,58,132.132404,385.0,137.545665,0.676375,low
919,0,0,0,0,1,0,0,0,1,62,120.000000,254.0,93.000000,0.676375,low

In [18]:
df = pd.concat([df6, df], axis=1)

In [19]:
df.drop('num',axis=1,inplace=True)

In [20]:
df

,low,medium,high,fixed defect,normal,reversable defect,asymptomatic,atypical angina,non-anginal,typical angina,Female,Male,age,trestbps,chol,thalch,ca
0,1,0,0,1,0,0,0,0,0,1,0,1,63,145.000000,233.0,150.000000,0.000000
1,0,1,0,0,1,0,1,0,0,0,0,1,67,160.000000,286.0,108.000000,3.000000
2,1,0,0,0,0,1,1,0,0,0,0,1,67,120.000000,229.0,129.000000,2.000000
3,1,0,0,0,1,0,0,0,1,0,0,1,37,130.000000,250.0,187.000000,0.000000
4,1,0,0,0,1,0,0,1,0,0,1,0,41,130.000000,204.0,172.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,1,0,0,0,0,0,1,0,0,0,1,0,54,127.000000,333.0,154.000000,0.676375
916,1,0,0,0,0,0,0,0,0,1,0,1,62,132.132404,139.0,137.545665,0.676375
917,0,1,0,1,0,0,1,0,0,0,0,1,55,122.000000,223.0,100.000000,0.676375
918,1,0,0,0,0,0,1,0,0,0,0,1,58,132.132404,385.0,137.545665,0.676375
919,1,0,0,0,0,0,0,1,0,0,0,1,62,120.000000,254.0,93.000000,0.676375

In [23]:
df1=df.iloc[0:800]

In [24]:
df2=df.iloc[800:920]

In [25]:
df2

,low,medium,high,fixed defect,normal,reversable defect,asymptomatic,atypical angina,non-anginal,typical angina,Female,Male,age,trestbps,chol,thalch,ca
800,1,0,0,0,0,0,1,0,0,0,0,1,58,132.000000,458.0,69.000000,0.676375
801,0,1,0,0,0,0,1,0,0,0,0,1,61,146.000000,241.0,148.000000,0.676375
802,0,1,0,0,0,0,1,0,0,0,0,1,67,160.000000,384.0,130.000000,0.676375
803,0,1,0,0,0,0,1,0,0,0,0,1,62,135.000000,297.0,130.000000,0.676375
804,0,0,1,0,0,0,1,0,0,0,0,1,65,136.000000,248.0,140.000000,0.676375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,1,0,0,0,0,0,1,0,0,0,1,0,54,127.000000,333.0,154.000000,0.676375
916,1,0,0,0,0,0,0,0,0,1,0,1,62,132.132404,139.0,137.545665,0.676375
917,0,1,0,1,0,0,1,0,0,0,0,1,55,122.000000,223.0,100.000000,0.676375
918,1,0,0,0,0,0,1,0,0,0,0,1,58,132.132404,385.0,137.545665,0.676375
919,1,0,0,0,0,0,0,1,0,0,0,1,62,120.000000,254.0,93.000000,0.676375

In [21]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=30)
model.fit(a, b)

RandomForestClassifier(n_estimators=30)

In [23]:
model.fit(a,b)

RandomForestClassifier(n_estimators=30)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   low                920 non-null    uint8
 1   medium             920 non-null    uint8
 2   high               920 non-null    uint8
 3   fixed defect       920 non-null    uint8
 4   normal             920 non-null    uint8
 5   reversable defect  920 non-null    uint8
 6   asymptomatic       920 non-null    uint8
 7   atypical angina    920 non-null    uint8
 8   non-anginal        920 non-null    uint8
 9   typical angina     920 non-null    uint8
 10  Female             920 non-null    uint8
 11  Male               920 non-null    uint8
 12  age                920 non-null    int64
 13  trestbps           920 non-null    float64
 14  chol               920 non-null    float64
 15  thalch             920 non-null    float64
 16  ca                 920 non-null    float64
dtypes: float64(4), int64(1), uint8(12)
memory usage: 46.8 KB

In [24]:
model.score(a,b)

0.9978260869565218

In [65]:
n=df.iloc[:,0:800]
n=df.drop(['low','medium','high'],axis=1)

In [66]:
n

,fixed defect,normal,reversable defect,asymptomatic,atypical angina,non-anginal,typical angina,Female,Male,age,trestbps,chol,thalch,ca
0,1,0,0,0,0,0,1,0,1,63,145.000000,233.0,150.000000,0.000000
1,0,1,0,1,0,0,0,0,1,67,160.000000,286.0,108.000000,3.000000
2,0,0,1,1,0,0,0,0,1,67,120.000000,229.0,129.000000,2.000000
3,0,1,0,0,0,1,0,0,1,37,130.000000,250.0,187.000000,0.000000
4,0,1,0,0,1,0,0,1,0,41,130.000000,204.0,172.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,0,0,0,1,0,0,0,1,0,54,127.000000,333.0,154.000000,0.676375
916,0,0,0,0,0,0,1,0,1,62,132.132404,139.0,137.545665,0.676375
917,1,0,0,1,0,0,0,0,1,55,122.000000,223.0,100.000000,0.676375
918,0,0,0,1,0,0,0,0,1,58,132.132404,385.0,137.545665,0.676375
919,0,0,0,0,1,0,0,0,1,62,120.000000,254.0,93.000000,0.676375

In [28]:
a =df1.drop(['low','medium','high'], axis=1)
b = df1.filter(['low','medium','high'], axis=1)

In [29]:
b

     low  medium  high
0      1       0     0
1      0       1     0
2      1       0     0
3      1       0     0
4      1       0     0
..   ...     ...   ...
795    1       0     0
796    0       1     0
797    0       0     1
798    0       1     0
799    1       0     0

[800 rows x 3 columns]

In [30]:
a

,fixed defect,normal,reversable defect,asymptomatic,atypical angina,non-anginal,typical angina,Female,Male,age,trestbps,chol,thalch,ca
0,1,0,0,0,0,0,1,0,1,63,145.000000,233.0,150.000000,0.000000
1,0,1,0,1,0,0,0,0,1,67,160.000000,286.0,108.000000,3.000000
2,0,0,1,1,0,0,0,0,1,67,120.000000,229.0,129.000000,2.000000
3,0,1,0,0,0,1,0,0,1,37,130.000000,250.0,187.000000,0.000000
4,0,1,0,0,1,0,0,1,0,41,130.000000,204.0,172.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,1,1,0,0,0,0,1,75,170.000000,203.0,108.000000,0.676375
796,0,0,0,0,0,0,1,0,1,49,130.000000,0.0,145.000000,0.676375
797,0,0,0,0,0,1,0,0,1,51,132.132404,339.0,137.545665,0.676375
798,0,0,0,1,0,0,0,0,1,60,142.000000,216.0,110.000000,0.676375
799,0,0,1,1,0,0,0,1,0,64,142.000000,276.0,140.000000,0.676375

In [31]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=30)
model.fit(a, b)

RandomForestClassifier(n_estimators=30)

In [32]:
model.score(a,b)

0.99375

In [34]:
model.predict([[0,0,0,1,0,0,0,1,0,54,127,333,154,0.676]])

E:\AI programs\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([[1, 0, 0]], dtype=uint8)

In [33]:
df2

,low,medium,high,fixed defect,normal,reversable defect,asymptomatic,atypical angina,non-anginal,typical angina,Female,Male,age,trestbps,chol,thalch,ca
800,1,0,0,0,0,0,1,0,0,0,0,1,58,132.000000,458.0,69.000000,0.676375
801,0,1,0,0,0,0,1,0,0,0,0,1,61,146.000000,241.0,148.000000,0.676375
802,0,1,0,0,0,0,1,0,0,0,0,1,67,160.000000,384.0,130.000000,0.676375
803,0,1,0,0,0,0,1,0,0,0,0,1,62,135.000000,297.0,130.000000,0.676375
804,0,0,1,0,0,0,1,0,0,0,0,1,65,136.000000,248.0,140.000000,0.676375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,1,0,0,0,0,0,1,0,0,0,1,0,54,127.000000,333.0,154.000000,0.676375
916,1,0,0,0,0,0,0,0,0,1,0,1,62,132.132404,139.0,137.545665,0.676375
917,0,1,0,1,0,0,1,0,0,0,0,1,55,122.000000,223.0,100.000000,0.676375
918,1,0,0,0,0,0,1,0,0,0,0,1,58,132.132404,385.0,137.545665,0.676375
919,1,0,0,0,0,0,0,1,0,0,0,1,62,120.000000,254.0,93.000000,0.676375

In [36]:

import pickle
heart_model = pickle.dumps(model)

In [39]:
heartmodel = pickle.loads(heart_model)
heartmodel.predict([[0,0,0,1,0,0,0,1,0,54,127,333,154,0.676]])

E:\AI programs\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([[1, 0, 0]], dtype=uint8)